---

neo4j:
  :host: localhost
  :port: 7474

accounts:
  - :name: test
    :key: test_key
    :secret: test_secret
  - :name: test2
    :key: test2_key
    :secret: test2_secret

tag_policy:
  - :required:
    - Application
    - Owner
    - Environment
  - :recommended:
    - Product
    - Name
