<style>

.node circle {
  fill: #999;
}

.node text {
  font: 12px sans-serif;
}

.node--leaf circle {
  fill: #FF3333;
  stroke-width: 1.5px;
}

.node--internal circle {
  fill: steelblue;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

</style>
